record(bo, "$(P)DPU3:c$(SIG)") {
   field (DESC, "$(DESC)")
   field (DTYP, "stream")
   field (UDFS, "NO_ALARM")
   field (ZNAM, "$(ZNAM)")
   field (ONAM, "$(ONAM)")
   field (OUT, "@dpu3.proto set_binopt($(INDX))  $(PORT)")
   info (autosaveFields, "VAL")
}
